@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, Arial, Helvetica, sans-serif, "Times New Roman", Times,
    serif;
}

/* Player */

.rhap_container {
  background-color: transparent !important;
  box-shadow: none !important;
}

.rhap_repeat-button {
  color: white !important;
}

.rhap_play-pause-button {
  color: white !important;
}

.rhap_time {
  color: white !important;
}
