@import url("https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-10);
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 1184px;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  padding: 0 32px 100px 32px;
}

:root {
  /* primary Colors */
  --primary-2: #e5ffea;
  --primary-3: #ccffd4;
  --primary-4: #99ffa9;
  --primary-5: #66ff7f;
  --primary-6: #00ff29;
  --primary-7: #009919;
  --primary-8: #004c0c;
  --primary-9: #003308;
  --primary-10: #001904;

  /* Secondary Colors */
  --secondary-3: #e6fff9;
  --secondary-4: #ccfef2;
  --secondary-5: #b3feec;
  --secondary-6: #34fdcd;
  --secondary-7: #01ca9a;
  --secondary-8: #00654d;
  --secondary-9: #004c3a;
  --secondary-10: #001913;

  /* Neutral Colors */
  --neutral-1: #f1f5f9;
  --neutral-2: #e2e8f0;
  --neutral-3: #cbd5e1;
  --neutral-4: #94a3b8;
  --neutral-5: #64748b;
  --neutral-6: #475569;
  --neutral-8: #334155;
  --neutral-9: #1e293b;
  --neutral-10: #0f172a;

  /* Dark Mode */
  --dark-1: #555962;
  --dark-2: #4c4f59;
  --dark-3: #424651;
  --dark-4: #424651;
  --dark-5: #393d48;
  --dark-6: #2f343f;
  --dark-8: #262a36;
  --dark-9: #1c212e;
  --dark-10: #131825;

  /* Gradient */
  --gradient-1: linear-gradient(to right, #06ff3d, #2bffcc);

  /* Font Size */
  --h1: 48px;
  --h2: 40px;
  --h3: 32px;
  --h4: 24px;
  --h5: 20px;
  --body1: 16px;
  --body2: 14px;
}

/* Typography */

h1,
h2,
h3,
h4,
h5 {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  line-height: 150%;
}
.body1,
.body2 {
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  line-height: 150%;
}

/* Input Fields */

.form {
  width: 100% !important;
  max-width: 648px !important;
  margin-top: 32px;
}

.form > .btn {
  width: 100%;
  margin-top: 24px;
}

.input {
  width: 100%;
  margin-bottom: 16px;
  background-color: var(--dark-9);
  border: 0.5px solid var(--neutral-8);
  border-radius: 4px;
  padding-left: 16px;
}

.input::placeholder {
  font-size: var(--body1);
  color: var(--neutral-3);
}

.input:focus {
  font-size: var(--body1);
  color: var(--neutral-3);
}

.input:valid {
  font-size: var(--body1);
  color: var(--neutral-3);
}

.input:invalid {
  font-size: var(--body1);
  color: var(--neutral-3);
}

.input.input--big {
  height: 64px;
}

.input.input--small {
  height: 48px;
}

.form-info {
  margin-top: 36px;
  color: var(--neutral-1);
}

.error__text {
  width: 100%;
  height: 36px;
  font-size: var(--body1);
  color: white;
  background-color: red;
  margin-bottom: 12px;
  border-radius: 4px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-size: var(--body1);
}

/* Buttons */

.btn {
  border-radius: 4px;
  padding: 8px 16px;
  border: 0;
  color: var(--dark-10);
  background: var(--gradient-1);
}

.btn:hover {
  cursor: pointer;
}

.btn--big {
  font-size: var(--h5);
  font-weight: bold;
  height: 64px;
}

.btn--small {
  font-size: var(--body1);
  font-weight: 500;
  height: 48px;
}

/* Links */

a {
  text-decoration: none;
  color: var(--primary-5);
}

/* Placholder */

.ph-item {
  margin-top: 64px;
  background-color: var(--dark-9);
  border: none;
}
