.card {
  height: 100px;
  width: 100%;
  background-color: var(--dark-9);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.card__img {
  height: 80px;
  min-width: 80px;
  border-radius: 8px;
  margin-left: 10px;
}

.card__info {
  margin-left: 16px;
}

.card__title {
  color: white;
  font-size: var(--body1);
}

.card__subtitle {
  color: var(--neutral-3);
  font-size: var(--body2);
}

.card__play {
  display: flex;
  align-items: center;
  margin-left: -3px;
}
.play__icon {
  color: white;
  margin-top: 3px;
  cursor: pointer;
  margin-right: 4px;
}

.play__text {
  color: var(--neutral-3);
  font-size: var(--body2);
}

.card__follow {
  height: 24px;
  padding: 0 20px;
  margin-top: 8px;
  border-radius: 100px;
  border: none;
  background: var(--gradient-1);
  font-size: var(--body2);
  font-weight: bold;
}
