.nav-bar {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  background: var(--gradient-1);
  font-size: var(--h5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-input {
  width: 100%;
  max-width: 300px;
  height: 48px;
  position: relative;
}

.field {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: var(--dark-8);
  border: 0.5px solid var(--neutral-8);
  padding-left: 16px;
  outline: none;
}

.field::placeholder {
  font-size: var(--body1);
  color: var(--neutral-3);
}

.field:focus {
  font-size: var(--body1);
  color: var(--neutral-3);
}
.field:valid {
  font-size: var(--body1);
  color: var(--neutral-3);
}

.field {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: var(--dark-8);
  border: 0.5px solid var(--neutral-8);
  padding-left: 16px;
}

.field-icon {
  position: absolute;
  top: 50%;
  right: 3%;
  color: var(--neutral-3);
  transform: translate(-50%, -50%);
}

.nav__btn {
  border-radius: 100px;
  border: none;
  padding: 0 24px;
  color: var(--dark-10);
  background: var(--gradient-1);
  height: 48px;
  cursor: pointer;
  font-size: var(--body1);
  font-weight: bold;
}

.nav__btn-icon {
  border-radius: 100px;
  border: none;
  color: var(--dark-10);
  background: var(--gradient-1);
  height: 48px;
  cursor: pointer;
}
