.landing-ad {
  height: 320px;
  width: 100%;
  margin-top: 72px;
  background-color: var(--dark-9);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  position: relative;
}

.ad__title {
  color: white;
  width: 416px;
  max-width: 416px;
  font-size: var(--h3);
}

.ad__btn {
  height: 48px;
  padding: 0 28px;
  margin-top: 32px;
  border-radius: 100px;
  background: var(--gradient-1);
  font-size: var(--body1);
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  color: black;
  display: flex;
  align-items: center;
}

.ad__img {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 273px;
  height: 368px;
  background-image: url("https://res.cloudinary.com/dwnvkwrox/image/upload/v1671769738/Landing_Image_kyzdhu.png");
}

.section {
  width: 100%;
  margin-top: 40px;
}
.section__title {
  color: white;
  font-size: var(--h4);
  margin-bottom: 24px;
}

.section__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px;
}

@media screen and (max-width: 780px) {
  .ad__img {
    display: none;
  }
  .landing-ad {
    justify-content: center;
    align-items: center;
  }
  .ad__title {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 396px) {
  .ad__title {
    font-size: var(--h4);
  }
  .ad__btn {
    font-size: var(--body2);
  }
}

@media screen and (max-width: 990px) {
  .section__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 580px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}
