.player {
  height: 100px;
  width: 100%;
  background-color: var(--dark-6);
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.Song-info {
  display: flex;
  align-items: center;
  margin-right: 44px;
}

.player__img {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  margin-right: 12px;
}

.info__title {
  font-size: var(--h5);
  color: var(--neutral-1);
  margin-bottom: 4px;
}

.info__subtitle {
  font-size: var(--body1);
  color: var(--neutral-4);
}

.controller {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.con-icon {
  font-size: 32px;
  color: white;
  margin: 0 16px;
}
