.song-status {
  width: 100%;
  height: 104px;
  background-color: var(--dark-8);
  margin-top: 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
}

.play-btn {
  color: white;
  cursor: pointer;
  font-size: 64px;
}

.song-status-numbers {
  display: flex;
  justify-content: center;
  color: white;
}

.song-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
  font-weight: bold;
}
.song-number:last-child {
  margin-right: 0;
}

.value {
  font-size: var(--h3);
  margin-bottom: 4px;
}

.like-btn {
  color: white;
  cursor: pointer;
  font-size: 32px;
}

.write-comment {
  width: 100%;
  margin: 28px 0;
  display: flex;
}

.write__img {
  height: 64px;
  min-width: 64px;
  border-radius: 100px;
  margin-right: 16px;
}

.input-comment {
  border-radius: 100px !important;
}

@media screen and (max-width: 672px) {
  .value {
    font-size: var(--h5);
  }
  .song-number {
    font-size: var(--body1);
    margin: 0 8px;
  }
  .play-btn {
    font-size: 32px;
  }
}

@media screen and (max-width: 400px) {
  .value {
    font-size: var(--body1);
  }
  .song-number {
    font-size: 12px;
    margin: 0 4px;
  }
  .song-status {
    padding: 0 4px;
  }
}
